<%- include('header') -%>

    <p>
        <a href="/views/library.ejs">Games Library</a>
    </p>
    <p>
        <a href="/views/friends.ejs">Friends</a>
    </p>
    <p>
        <a href="/views/store.ejs"> Game Store</a>
    </p>

