<% - include('dashboard') - %> 
    <p>
        <h3>Friends Online</h3>
        <ul>
            <li style="color: green;">Psyclops</li>
            <li style="color: green;">Alcatrazz</li>
            <li style="color: green;">DrDisrepcect</li>

        </ul><br><br>
    </p>
    <p>
        <h3>Friends offline</h3>
        <ul>
            <li style="color: gray;">JackTheSparrow</li>
            <li style="color: gray;">HeadshotDave</li>
            <li style="color: gray;">RutherdamnManiac</li>
        </ul>
    </p>
    <p>
        <h3>Common Players</h3>
        <ul>
            <li>DrakeMcNeeeil</li>
            <li>FrankNSteeeein</li>
            <li>RustDevil</li>
        </ul>
    </p>





<%- include('footer') -%>
