<% - include('dashboard') - %> 

    <h3>Your Games Library</h3><br>
    <ul>
        <li>Fallout 4</li>
        <li>FarCry: Primal</li>
        <li>Red Dead Redemption 2</li>
        <li>Grand Theft Auto V</li>
        <li>Call of Duty : Cold War</li>
        <li>Assassins Creed : Valhalla</li>
    </ul>

    
<%- include('footer') -%>