<% - include('dashboard') - %> 

    <h3>New Releases</h3><br>
    <ul>
        <li>FIFA 22</li>
        <li>eFootball 2022</li>
        <li>Battlefield 2042</li>
        <li>Call Of Duty : Vanguard</li>
        <li>FarCry 6</li>
    </ul>

    
<%- include('footer') -%>